echo '<html>
  <% include partials/head %>
  <body>
    <% include partials/header %>
    <h1>Home</h1>
    <% include partials/posts %>
    <% include partials/footer %>
  </body>
</html>' > public/pages/index.ejs